/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
  text-align: center;
}

body {
  background: url(../bg-m.jpg) no-repeat top fixed;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  body {
    background: url(../bg-l.jpg) no-repeat top fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background: url(../bg-xl.jpg) no-repeat top fixed;
    background-size: cover;
  }
}

div p {
  background: #f2f2f2;
}

button {
  font-size: 1.1rem;
  line-height: 2;
  background-color: transparent;
  border: 1px solid #ffab40;
  border-radius: 1.3rem;
  white-space: nowrap;
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

button:hover {
  background-color: rgba(255,255,255,1.0);;
}

button:focus {
  background-color: rgba(255,255,255,0.9);;
}

textarea {
  height: 3.9rem;
}

select {
  width: 90%;
}

form > div {
  width: 81%;
}

.label {
  float: left;
  width: 10%;
  line-height: 1.5;
}

a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (max-height: 410px) {
  div {
    position: static;
  }
}

.row {
  margin: 2vmin auto;
}

.card {
  background: rgba(255, 255, 255, .7);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 20px;
}

.card:hover {
  background: rgba(255, 255, 255, .8);
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, .3);
          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, .3);
}

.card-header {
  border-radius: 20px 20px 0 0;
}

.card-footer {
  border-radius: 0 0 20px 20px !important;
}

.card-header a, .card-footer a {
  margin: auto 12px !important;
}

.card-title {
  display: inline-block;
  -webkit-animation: tada;
          animation: tada;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phrase {
  font-weight: bold;
  display: none;
}

.output {
  font-style: italic;
}

.txt, select, form > div {
  display: block;
  margin: 10px auto;
  border-radius: .5rem;
}

.txt {
  width: 90%;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #f2f2f2;
}

.txt:focus {
  outline: 1px solid #c9f3ef;
}

.clearfix {
  clear: both;
}

.rate-value, .pitch-value {
  float: right;
  width: 9%;
  line-height: 1.5;
}

#swal2-content a:after {
  content: "🔗";
}

#rate, #pitch {
  float: right;
  width: 77%;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  font-display: swap;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

