html {
  height: 100%;
  text-align: center;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
}

div p {
  background-color: rgba(0,0,0,0.2);
}

div {
  overflow: auto;
}

button {
  margin: 0 auto;
  font-size: 1.1rem;
  width: 170px;
  line-height: 2;
  border-radius: 20px;
}

select {
  width: 90%;
}

form > div {
  width: 81%;
}

label {
  float: left;
  width: 10%;
  line-height: 1.5;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

@media all and (max-height: 410px) {
  div {
    position: static;
  }
}

.phrase {
  font-weight: bold;
}

.output {
  font-style: italic;
}

.txt, select, form > div {
  display: block;
  margin: 0 auto;
  font-size: 16px;
}

.txt {
  width: 90%;
  height: 60px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}

.txt, form > div {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

.clearfix {
  clear: both;
}

.rate-value, .pitch-value {
  float: right;
  width: 9%;
  line-height: 1.5;
}

#rate, #pitch {
  float: right;
  width: 77%;
}
